    body{
        font-family: 'Poppins', sans-serif;
        color: gray;
        margin: 0;
    }

.topnav {
    background-color:rgba(255, 192, 203, 0.432);
    overflow: hidden;
  }
  

  .topnav a {
    float: right;
    color: rgb(128, 128, 128);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
    .flexible-container{
        display: flex;
    }

    .bg-top
    {
        background-image: url(images/Frame\ 59.jpg)
    }


    div h1{
        font-size: 50px;
        color:gray;
    }


    span
    {
        color: palevioletred;
    }


    .half-width{
        width: 100%;
        margin-left: 15%;
        margin-bottom:5%;
    }


    .half-width img
    {
        width: 65%;
        padding-top: 4%;
    }


    .half-width1 img{
        width: 50%;
        margin-left: 20%;
        padding-left: 10%;
    }

    #aboutme
    {
        padding-right: 15%;
        text-align: justify;
    }
    
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange, pink);
        padding: 10px 30px;
        color: white;
        font-weight: 600;
        border-radius: 50px;
    }


    .about-me
    {
        background-image: url(images/bg.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    
   
    .recipies {
        text-align: center;
        margin-top: 5%;
    }


    .recipies h2{
        font-size: 30px;
    }

    #recipies-des
    {
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        margin-bottom: 2%;
    }


    .recipie-item
    {
        box-shadow: 10px 10px 40px gray;
        margin-bottom:7%;
        margin-left: 6%;
        margin-right: 6%;
        padding: 2%;
        border-radius: 5%;
    }


    .image
    {
        max-height: 100%;
        max-width: 100%;
    }

    .description
    {
        text-align: justify;
    }


    .recipie-item h2
    {
        color: black;
        font-weight: 900;
    }

#crowd
{
    text-align: center;
}

    .follower
    {
        text-align: center;
        margin-left: 5%;
        margin-right: 4%;
        width: 30%;
    }


    .follower h2
    {
        color: black;
        font-weight: bolder;
        font-size: 40px;
    }


    .box-shadow
    {
        box-shadow: 1px 1px 30px gray;
        border-radius: 15px;
        width: 90%;
        height: 4%;
        margin-bottom: 200px;
        margin-left: 5%;
        margin-right: 4%;

    }


    footer
    {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 40px;
        background-color: rgb(15, 15, 15);
    }
